.card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;
  box-shadow: 2px 1px #babcbe;
  background-color: inherit;
  min-height: 100px;
  margin-right: 10px;
  font-size: 20px;
}

.card.dark{
  background-color: #313131;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 2px 1px #181818;
}

.card.dark:hover{
  background-color: #4d4d4d;
}

.card:hover{
  background-color: rgb(245, 245, 245);
}

.last-card{
  margin-right: 0px;
}

.flex-wrap{
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex-spread{
  justify-content: space-between;
}

.red{
  color: #EE5A63;
}

.blue{
  color: #2C7FB8;
}

.green{
  color: #5ECD72;
}

