.half{
  opacity: 0.5;
}

.iconify{
  font-size: 5vmin
}

.large{
  font-size: 50px;
}

.rel{
  display: flex;
  padding-right: 3px;
}

.abs{
  position: absolute;
}

.below{
  z-index: 0
}

.icon-half_Circle:before {
  content: "\e900";
}

.icon-half_Diamond:before {
  content: "\e901";
}

.icon-half_Star:before {
  content: "\e902";
}