.half{
  opacity: 0.5;
}

.iconify{
  font-size: 5vmin
}

.large{
  font-size: 50px;
}

.rel{
  display: flex;
  padding-right: 3px;
}

.abs{
  position: absolute;
}

.below{
  z-index: 0
}

.icon-twotone-circle .path1:before {
  content: "\e900";
  opacity: 0.4;
}
.icon-twotone-circle .path2:before {
  content: "\e901";
  margin-left: -1em;
}
.icon-twotone-rhombus .path1:before {
  content: "\e902";
  opacity: 0.4;
}
.icon-twotone-rhombus .path2:before {
  content: "\e903";
  margin-left: -1em;
}

