.center{
  justify-content: center;
}

.error-box{
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  position: relative;
  padding: .75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  width: 100%;
  text-align: center;
}

.wrap{
  flex-wrap: wrap;
}

.button{
  color: white;
  border: 1px transparent;
  border-radius: 5px;
  background-color: rgb(51, 51, 51);
  box-shadow: 0 3px rgb(31, 31, 31);
  min-width: 100px;
  width: 10%;
  text-align: center;
}

.button:active{
  transform: translateY(2px);
  box-shadow: 0 2px rgb(31, 31, 31);;
}

.red-button{
  background-color: #DC3545;
  box-shadow: 0 3px rgb(167, 0, 0);
}

.red-button:active{
  transform: translateY(2px);
  box-shadow: 0 2px rgb(167, 0, 0);
}

.green-button{
  background-color: #28A745;
  box-shadow: 0 3px green;
}

.green-button:active{
  transform: translateY(2px);
  box-shadow: 0 2px green;
}

.mg-r{
  margin-right: 5px;
}